.container {
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
    background: #fdffff;
}  
  
.heading {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #dedede;
    text-transform: uppercase;
    font-size: 15px;
    opacity: 0.6;
    letter-spacing: 0.5px;
}

.books {
    list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
}
  
.book {
    width:30%;
    padding-bottom: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.book a{
    color: inherit;
    cursor:pointer
}

.imgWrapper{
    width: 180px;
    height: 225px;
    position: relative !important;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0,0,0,.8));
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.8));
}

  
.bookTitle {
    width : 200px;    
    margin-bottom: 10px;
    font-size: 0.8rem;
    text-align: center;
}
  
.bookImg {
    margin-top: 0;
    margin-bottom: 12px;
    border-radius: 15%;
}  

/* 携帯表示 */
@media (max-width: 767.98px) {

    .books {
        flex-wrap: wrap;
    }

    .book {
        width:100%;
        padding-bottom: 50px;
        display: flex;
        flex-flow: column;
    }

    .imgWrapper{
        width: 200px;
        position: relative !important;
    }

    .bookTitle {
        width : 200px;
        margin-bottom: 10px;
        font-size: 1.2rem;
        text-align: center;
    }

    .bookImg {
        border-radius: 15%;
    }  
}   