.profile {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2rem;
}

.leftSection {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    justify-content: center;
    align-items: center;
}

.rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.name {
    font-size: 2rem;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.item{
    list-style: none;
    margin:10px;
}



@media (max-width: 900px) {
    .profile {
        flex-direction: column;
        padding-top: 4rem;
    }
    .name {
        font-size: 2rem;
        padding: 30px;
    }
    .leftSection {
        margin-right: 0;
    }
    .rightSection {
        max-width: 16rem;
    }
    .items{
        margin-bottom: 30px;
    }
    
}

@media (max-width: 600px) {
    
    .rightSection {
        align-items: center;
        max-width: 25rem;
    }
}

